/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*--css reset end--*/
.wrap {
  height: 100vh;
  font-family: Helvetica, Tahoma, Arial;
  font-size: 17px;
  font-weight: lighter;
}

.mainBackground {
  background-color: #E37F45;
}

.header, .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  background-color: #fff;
}

.content {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.headerStyle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 68vh;
  overflow: hidden;
  padding: 0;
}

.title {
  margin-top: 10%;
}

.mainStyle {
  width: 100%;
}

.mainStyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32vh;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0 2px 2px #4d4d4d;
  cursor: pointer;
  color: #fff;
  font-size: 36px;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

.start img {
  margin-left: 10px;
  height: 30px;
  width: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.start:hover {
  font-size: 40px;
}

.start:hover > img {
  height: 33px;
}

.playBackground {
  background-color: #243037;
  height: 100vh;
}

nav {
  height: 10vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.playNav {
  color: #7197af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E37F45;
  margin-bottom: 10px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.playTitle img {
  width: 120px;
  height: auto;
}

.countDown {
  margin: 0 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu li {
  padding: 0 10px;
  cursor: pointer;
}

.playground {
  height: 90vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 30px;
}

.space,
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.space ul,
.card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space li,
.card li {
  width: 100px;
  height: 167px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  margin: 0 15px;
}

.tempSpace li {
  border: 1px solid #E37F45;
}

.orderSpace li,
.card li {
  border: 1px solid #7197af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orderSpace li img,
.card li img {
  height: 50%;
  width: auto;
}

.layer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #243037;
  z-index: 0;
  opacity: .7;
}

.alert {
  position: fixed;
  top: calc((100vh - 60vh) / 2);
  left: calc((100vw - 90vw) / 2);
  height: 60vh;
  width: 90vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alertInset {
  position: relative;
}

.alertContent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #fff;
  border: 5px solid #E37F45;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.backBtn {
  position: absolute;
  top: -55px;
  left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7197af;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.backBtn:hover {
  text-shadow: 3px 3px 8px #7197af;
  color: #fff;
}

.backBtn img {
  margin: 0 2px;
  height: 30px;
  width: auto;
}

.backBtn span {
  margin: 0 10px;
}

.people {
  display: inline-block;
  border-radius: 50px;
  height: 60vh;
  width: auto;
}

.note {
  display: inline-block;
  width: 50vw;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #E37F45;
}

.noteTitle {
  font-size: 45px;
  margin-bottom: 20px;
  line-height: 1.2em;
}

.newGames .note {
  padding: 50px;
}

.noteBtn {
  font-size: 40px;
  margin: 30px 10px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  line-height: 1.2em;
  -webkit-transition: .5s;
  transition: .5s;
}

.noteBtn div {
  display: inline;
}

.noteBtn:hover {
  text-shadow: 3px 3px 8px #E37F45;
  color: #fff;
}

.noteBtn img {
  position: absolute;
  top: 10px;
  left: 0;
}

.noMoreMove .note {
  padding-left: 50px;
}
/*# sourceMappingURL=all.css.map */