// Play Setting
.layer{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background-color: $color-four;
    transition: 1.2s;
}

.noneShow{
    opacity: 0;
}

.noneDisplay{
    display: 0;
}
//nav
.playBackground{
    background-color: $color-four;
    height: 100vh;
}

nav{
    height: 10vh;
    box-sizing: border-box;
}
.playNav{
    color: $color-five;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-master;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.playTitle img{
    width: 120px;
    height: auto;
}
.countDown{
    margin: 0 10px;
}
.menu{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    li{
        padding: 0 10px;
        @include pointer;
        transition: .5s;
        &:hover{
            text-shadow: 0 0 5px $color-six;
        }
    }
}

//playground
.playground{
    height: 90vh;
    box-sizing: border-box;
    padding-top: 30px;
}
.space,
.card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.space ul,
.card ul{
    display: flex;
    justify-content: space-between;
}

.space li,
.card li{
    width: 100px;
    height: 167px;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0 15px;
}

.tempSpace li{
    border: 1px solid $color-master;
}

.orderSpace li,
.card li{
    border: 1px solid $color-five;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 50%;
        width: auto;
    }
}