$color-master: #E37F45;
$color-sec: #fff;
$color-thir: #4d4d4d;
$color-four: #243037;
$color-five: #7197af;

$color-six: #3f3f3f;
$color-sev: #11010a;

$fontsize-xxl: 45px;
$fontsize-xl: 40px;
$fontsize-l: 36px;
$fontsize-m: 30px;
$fontsize-s: 21px;
$fontsize-xs: 17px;
$fontsize-xxs: 12px;

$line-h-master:1.5;
$line-h-sec:1.4;
$line-h-thir:1.3;

$letter-spc-master: auto;
$letter-spc-l: 2px;
$letter-spc-m: 1.5px;
$letter-spc-s: 1px;

